<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @tracking.value %>
</p>

<p>
  <strong>Time:</strong>
  <%= @tracking.time %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @tracking.unit %>
</p>

<%= link_to 'Edit', edit_tracking_path(@tracking) %> |
<%= link_to 'Back', trackings_path %>
